@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    cursor: pointer;
    background-color: #6225E6;
    display: flex;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    padding: 5px;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}


